*{
    font-family: 'Open Sans', sans-serif;
    text-align:center;
    color:rgb(87, 86, 86);
    box-sizing:border-box;
    
} 

.name{
    font-size: 65px;
}

img{
    max-width:100%;
}

.nav{
    display:flex;
    flex-direction: column;
    text-transform: uppercase;
    font-weight:300;
    font-size:x-large;
    padding:3%;
    background-color: aqua;
    line-height:2.15;
}

.nav_ul{
    list-style-type: none;
}


.contain-box{
    padding-top:15%;
    padding-bottom:3%;
}

.info{
    padding-top:75px;

}
.marketing{
    padding-top:15%;
}

body{
    padding:10%;
}

.port-h2{
    color:rgb(240, 58, 13);
}
a:hover{
    color:orange;
}

.info, #contact{
    color:rgb(196, 195, 195);
    font-size:large;
}


.home, .port, .contact, .ratings{
    display:none;
}


#contact{
    margin-bottom:50px;
}


h2{
    text-transform:uppercase;
    font-weight:bolder;
    font-size: medium;
}

h3{
    font-weight:100;
    font-size:large;
}

.contacts{
    font-weight:bold;
}

.project{
    padding-bottom: 20px;
}

.footerPar{
    padding-top:20px;
    padding-bottom:20px;
}


.cal{
    padding-bottom:60px;
}


.Ratings{
    color:lawngreen;
}

img:hover{
    transform:skew(10deg);
}

.footer{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.footName{
    margin-top:0px;
    margin-bottom:0px;
}
.footer-nav{
    list-style-type: none;
    margin-top:0px;
    margin-bottom:0px;
}


@media screen and (min-width: 768px) {
   .info{
       display:flex;
       flex-direction:row-reverse;
       padding-right:8%;
       width:95%;
       margin-bottom: 100px;

   }

   .name{
       margin-bottom:1px;
   }

   .body{
       padding-left:16%;
       padding:0%;
       width:95%;
   }

   .Ratings{
       margin-bottom:40px;
   }

   #contact{
       width:95%;
       margin:auto;
       padding-right:2%;
       display:inline-block;
       margin-bottom:5%;
   }

   .info p{
       width:60%;
       padding-right:11%;
       font-size:12px;
   }
   .footer{
       width:95%;
   }
   header{
       display:inline-block;
   }
   

   .name{
       margin-left: -16px;
   }
   .name-nav{
       display:flex;
       flex-direction: column;
       width:345px;
       padding-left:54px;
   }
   .nav_ul{
       display:flex;
       flex-direction: row;
       justify-content: space-between;
       font-size:medium;
       line-height:0px;
       padding-left:0px;
   }
   .port-h2{
       margin-right:42px;
   }
   .footer{
       font-size:17px;
   }

   .project{
       display:flex;
       flex-direction:row;
       flex-wrap:wrap;
       justify-content: space-evenly;
       width:48%;
   }

   .contain-box{
       display:flex;
       flex-direction:row;
       flex-wrap:wrap;
       justify-content: space-between;
       width:95%;
       padding-top:0px;
   }
   .cal, .photo{
       padding-bottom: 20px;
   }

   .marketing-project, .travel, .photo{
       margin-right:2%;
   }
    
   .head-img{
       width:44%;
       height:100%;
   }
   .back{
       display:none;
   }
   .footer-nav{
       display:flex;
   }

   .home, .port, .contact, .ratings{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
}

@media screen and (min-width: 1024px){
    .info{
        display:flex;
        flex-direction:row-reverse;
        
 
    }

    .footer-nav li{
        font-size:17px;
        list-style:none;
        margin-right:2px;}
            
    .head-img{
        width:100%;
        height:100%;
    }
 
    .body{
        padding-left:16%;
        padding:0%;
    }
 
    .photo, .cal{
        margin-bottom:40px;
    }
 
    #contact{
        width:70%;
        margin:auto;
        padding-right:3%;
    }
 
    .info p{
        width:66%;
        padding-right:2%;
        font-size:19px;
        text-align:left;

    }
    .info{
        padding-right:0px;
    }
    
    .nav{
        width:472px;
        padding-bottom:0px;
    
    }
    .name-nav{
        width:105%;
        padding-left:0px;
    }
    .name{
        text-align:left;
        margin-right:200px;
    }
 
    .project{
        display:flex;
        flex-direction:row;
        flex-wrap:wrap;
        width:30%;
    }
     
    .search, .map{
        margin-right:2%;
    }
    .head-img{
        width:38%;
    }

    .port-h2{
        margin-bottom:5%;
    }

    #contact{
        width: 70%;
        margin: auto;
        padding-right: 3%;
        display: inline-block;
        margin-bottom:15%;
    }

    .contain-box{
        padding-bottom: 13%;
    }

    .cal, .photo{
        margin-bottom:0px;
        padding-bottom:0px;
    }

    .name-nav{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .name{
        font-size:30px;
    }
    
    .nav_ul{
        line-height: 40px;
        margin-left: 10px;
    }
    .nav_ul a{
        margin-right:10px;
    }
    body{
        padding:5%;
    }

    .footer-nav li{
        font-size:17px;
        list-style:none;
        margin-right:2px;}
    .back{
            display:none;
        }
    .footer-nav{
            display:flex;
        }
     
    .home, .port, .contact, .ratings{
         display:flex;
         flex-direction: row;
         justify-content: space-between;
     }
}